<tr>
    <td class="news_date1">Oct</td>
    <td class="news_date2">2024</td>
    <td class="news_details">
      Presented “Quantifying Uncertainty: Advancing Robustness, Reliability, and Fairness in AI-Driven Transportation Demand Modeling” 
      at INFORMS 2024.
    </td>
  </tr>
  <tr>
    <td class="news_date1">Jun</td>
    <td class="news_date2">2024</td>
    <td class="news_details">
      Presented “Uncertainty Quantification on Sparse Spatiotemporal Data Prediction” 
      at Machine Learning Seminar, Morgan Stanley.
    </td>
  </tr>
  <tr>
    <td class="news_date1">Oct</td>
    <td class="news_date2">2023</td>
    <td class="news_details">
      Presented “Modeling Multi-perspective Nature of Urban Dynamics” 
      at the Allen Turing Institute.
    </td>
  </tr>
  <tr>
    <td class="news_date1">Oct</td>
    <td class="news_date2">2023</td>
    <td class="news_details">
      Presented “Modeling Multi-perspective Nature of Urban Dynamics” 
      at The Space Time Lab, University College London.
    </td>
  </tr>
  <tr>
    <td class="news_date1">Oct</td>
    <td class="news_date2">2023</td>
    <td class="news_details">
      Presented “Sparsity-Aware Uncertainty Calibration for Spatiotemporal Prediction with Graph Neural Networks” 
      at The Bartlett Centre for Advanced Spatial Analysis, UCL.
    </td>
  </tr>
  <tr>
    <td class="news_date1">Jul</td>
    <td class="news_date2">2023</td>
    <td class="news_details">
      Presented “Uncertainty Quantification of Sparse Trip Demand Prediction” 
      at Lyft.
    </td>
  </tr>
  <tr>
    <td class="news_date1">Jul</td>
    <td class="news_date2">2023</td>
    <td class="news_details">
      Presented “Deep Hybrid Model with Urban Road Network for Travel Demand Analysis” 
      at the Transit Data Section, WCTR 2023.
    </td>
  </tr>
  <tr>
    <td class="news_date1">May</td>
    <td class="news_date2">2023</td>
    <td class="news_details">
      Presented “Deep Hybrid Model with Urban Road Network” 
      at the MIT Mobility Initiative Forum.
    </td>
  </tr>
  <tr>
    <td class="news_date1">Apr</td>
    <td class="news_date2">2023</td>
    <td class="news_details">
      Presented “Uncertainty Quantification of Sparse Trip Demand Prediction” 
      at the Urban Artificial Intelligence Laboratory, University of Florida.
    </td>
  </tr>
  <tr>
    <td class="news_date1">Feb</td>
    <td class="news_date2">2023</td>
    <td class="news_details">
      Presented “Deep Hybrid Model with Urban Road Network for Travel Demand Analysis” 
      at CEE Research Days, MIT Media Lab.
    </td>
  </tr>
  <tr>
    <td class="news_date1">Oct</td>
    <td class="news_date2">2022</td>
    <td class="news_details">
      Presented “Uncertainty Quantification of Sparse Trip Demand Prediction” 
      at the College of Computer Science, Sichuan University.
    </td>
  </tr>
  
  <tr>
    <td class="news_date1">Jun</td>
    <td class="news_date2">2024</td>
    <td class="news_details">
      Start my internship at Morgan Stanley advised by <a href="https://www.linkedin.com/in/majid-behbahani-1a20365/?originalSubdomain=ca">Majid Behbahani</a>
    </td>
  </tr>
  
  <tr>
    <td class="news_date1">Feb</td>
    <td class="news_date2">2025</td>
    <td class="news_details">
      Paper “GETS: Ensemble Temperature Scaling for Calibration in Graph Neural Networks” accepted at 
      <strong>ICLR 2025 (Spotlight)</strong>.
    </td>
  </tr>
  
  <tr>
    <td class="news_date1">Feb</td>
    <td class="news_date2">2025</td>
    <td class="news_details">
      Paper “Time Series Supplier Allocation via Deep Black-Litterman Model” accepted at 
      <strong>AAAI 2025 (Oral)</strong>.
    </td>
  </tr>
  
  <tr>
    <td class="news_date1">Feb</td>
    <td class="news_date2">2025</td>
    <td class="news_details">
      Paper “Mitigating Spatial Disparity in Urban Prediction Using Residual-Aware Spatiotemporal Graph Neural Networks” accepted at 
      WWW 2025and also appearing in 
      TRB 2025.
    </td>
  </tr>
  
  <tr>
    <td class="news_date1">Nov</td>
    <td class="news_date2">2024</td>
    <td class="news_details">
      Paper “ItiNera: Integrating Spatial Optimization with Large Language Models for Open-domain Urban Itinerary Planning” accepted at 
      <strong>EMNLP 2024 (Industry Track)</strong>, also 
      <strong>KDD UrbComp 2024 Best Paper</strong>.
    </td>
  </tr>
  
  <tr>
    <td class="news_date1">Aug</td>
    <td class="news_date2">2024</td>
    <td class="news_details">
      Paper “Uncertainty-aware Probabilistic Graph Neural Networks for Road-level Traffic Crash Prediction” accepted at 
      Accident Analysis &amp; Prevention (AAP) 2024.
    </td>
  </tr>
  
  <tr>
    <td class="news_date1">Aug</td>
    <td class="news_date2">2022</td>
    <td class="news_details">
      Paper “Uncertainty Quantification of Sparse Travel Demand Prediction with Spatial-Temporal Graph Neural Networks” accepted at 
      KDD 2022 (Oral).
    </td>
  </tr>
  
  <tr>
    <td class="news_date1">Oct</td>
    <td class="news_date2">2023</td>
    <td class="news_details">
      Paper “Uncertainty Quantification via Spatial-Temporal Tweedie Model for Zero-inflated and Long-tail Travel Demand Prediction” accepted at 
      CIKM 2023.
    </td>
  </tr>
  
  <tr>
    <td class="news_date1">Mar</td>
    <td class="news_date2">2024</td>
    <td class="news_details">
      Paper “SAUC: Sparsity-Aware Uncertainty Calibration for Spatiotemporal Prediction with Graph Neural Networks” accepted at 
      <strong>SIGSPATIAL 2024 (Oral)</strong>, 
      also <strong>Spotlight talk</strong> at TGL Workshop, NeurIPS 2023.
    </td>
  </tr> 